/*Page*/
* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  opacity: 0.9;
  background-color: transparent;
  margin-bottom: 15px;
  margin-top: 10px;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
  opacity: 0.9;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 22px;
}

/*Navigation*/
.Navigation {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0px;
}

.logo {
  display: flex;
  height: 50px;
  margin-left: 10px;
}

.links {
  display: flex;
  font-size: 22px;
  opacity: 0.9;
  text-decoration: underline;
  margin-left: auto;
  margin-right: 20px;
  width: 350px;
  justify-content:space-between;
}

/*Content*/
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 60px;
  z-index: 1;
}

/*Main Title*/
#mission {
  background-image: url(./images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  padding: 0px;
}

/*Tea Variety*/
#featured {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.drinks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teas {
  height: 200px;
  width: 300px;
}

.types {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.names {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 22px;
  opacity: 0.9;

}

/*Locations*/
#locations {
  background-image: url(./images/img-locations-background.jpg);
  text-align: center;
  width: 1200px;
  height: 500px;
  margin-top: 60px;
  padding-top: 40px;
  background-color: transparent;
}

.address {
  background-color: transparent;
  display: inline-flex;
  width: 1200px;
  justify-content: center;
}

.streets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 300px;
  opacity: 1;
  margin: 0px 20px;
  font-size: 22px;

}

/*Footer*/
.footer {
  display: flex;
  height: 200px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
}

.end-head {

  margin: 10px 0px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.site {
  margin: 15px;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.9;
}

.number {
   margin-top: 5px;
   font-size: 18px;
   opacity: 0.9;
}

.copy {
  margin-right: auto;
  margin-left: 20px;
  opacity: 0.9;
}
